@import 'https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css';
@import 'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css';

::selection {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 0;
}

input[type=checkbox] {
    vertical-align: top;
}

a{
  color: #2962FF
}

#vc-count{
  color: #2962FF
}

.NAD-container{
  transition: 0.3s all ease-in-out;

}

.NAD-container[hidden]{
  opacity: 0;
  pointer-events: none;
  bottom: -50px;
}

.card {
    position: fixed;
    bottom: 1em;
    padding: 1em;
    margin: 1em;
    right: 1em;
    background: #fff;
}

#NAD-close{
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  font-size: 16px;
  border: 0;
  margin-top: 1em;
  width: 100%;

}

#map{
  width: 100vw;
  height: 100%;
}

#logo{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

#vc-count--container{
    margin: 0 1em;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#vc-count--container[hidden]{
  display: none;
}
#vc-count{
  margin: 0;
  font-size: 2em;
}

.earliest-slot{
  color: #009688;
}

.mapboxgl-ctrl-geolocate{
  height: 50px;
  width: 50px
}
.disclaimer--content{
  font-size: 11px;
  line-height: normal;
}
.mapboxgl-ctrl-custom-pitch {
  font-weight: bold;
}
.mapboxgl-popup-close-button{
  font-size: 3em;
}
.mapboxgl-ctrl-top[hidden]{
  display: none;
}
.mapboxgl-ctrl-top:before {
    content: "";
    width: 100%;
    height: 72px;
    background: rgba(255,255,255,0.8);
    border-bottom: 1px solid #eee;
    z-index: 1;
    position: absolute;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.mapboxgl-ctrl-top-left{
    margin-top: 75px !important;
}
.mapboxgl-ctrl-bottom-right{
  margin-bottom: 30px;
}
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left{
    padding-bottom: env(safe-area-inset-bottom) !important;
}
@media screen and (max-width: 640px){
  .mapboxgl-ctrl-group button{
    height: 50px;
    width: 50px;
  }
}

.mapboxgl-control-container{
  opacity: 1;
}

#vc-info {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(255,255,255, 0.5);
    background: linear-gradient(
0deg
, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
    width: 100%;
    padding: 1em;
    /* padding-top: 75px; */
    box-sizing: border-box;
    transition: 0.3s all ease-in-out;
}
#vc-info h1 {
  color: #2962FF;
}
#vc-info[hidden] {
  opacity: 0;
  pointer-events: none;
  bottom: -50px;
}
.modal--warn-sinovac {
    background: #fff;
    bottom: 0;
    margin: auto;
    position: fixed;
    z-index: 3;
    width: 100%;
    max-width: 640px;
    padding: 1em 2em;
    box-sizing: border-box;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
    transform: translate(0);
    font-size: 14px;
    border-top: 1px #eee solid;
}
.modal--warn-sinovac[hidden] {
    opacity: 0;
    pointer-events: none;
    transform: translate(0, 100%);
    transition: 0.3s all ease-in-out;
}
@media screen and (min-width: 640px){
  .modal--warn-sinovac{
    top: 50%;
    bottom: unset;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

#legend {
  color: #000;
  padding: 1em;
  position: fixed;
  right: 0;
  bottom: 0;
  transition: 0.3s all ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 4;
}
#legend-backdrop {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.75);
  /* background-image: linear-gradient(to top left, #fff, rgba(255, 255, 255, 0.75)); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s all ease-in-out;
  z-index: 3;
  transform: translate(0);
  cursor: pointer;
}
#legend-backdrop[hidden],
#legend[hidden] {
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 100%);
}
#legend > div {
  max-width: 400px;
}

#vaccine-labels {
  text-transform: uppercase;
  font-size: 11px;
  padding: 8px 0;
}

#vaccine-labels span {
  vertical-align: middle;
  display: inline-block;
  padding: 0.5em 0.6em;
  margin: 0 0.5em 0.7em 0;
  background-color: #fff;
  border: 4px solid rgba(0,0,0, 0.2);
  border-radius: 123123px;
}
.vaccine-layers label {
  cursor: pointer;
}
#vaccine-info-labels span img {
  vertical-align: middle;
  line-height: 0;
}

#legend footer {
  margin-top: 2em;
  font-size: 12px;
  opacity: 0.75;
  line-height: 1.5em;
}
#legend footer a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.btn-dismiss {
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  font-size: 16px;
  border: 0;
  margin-top: 1em;
  width: 100%;
}
.btn-dismiss:active {
  opacity: 0.5;
}

.self-promo {
  margin-top: 0.5em;
  padding: 0.7em;
  background-color: rgba(200, 200, 200, 0.9);
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}
.self-promo a {
  color: inherit;
  vertical-align: middle;
}
.self-promo img {
  vertical-align: middle;
}
@media screen and (max-width: 400px){
  .self-promo {
    font-size: 14px;
    margin-top: 0.3em;
    padding: 0.5em;
  }

  .vaccine-radio-group label{
    font-size: 0.6rem;
  }
}
#info-button {
  position: absolute;
  bottom: 0;
  bottom: env(safe-area-inset-bottom,0);
  right: 0;
  padding: 5px 10px;
  border: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
}
#info-button:active {
  opacity: 0.5;
}
#info-button svg {
  fill: rgba(0, 0, 0, 0.95);
}

.vaccine-radio-group {
  padding: 4px;
}

.vaccine-radio-group .layer-toggle {
  display: none;
}

.vaccine-radio-group label {
    display: inline-block;
    padding: 1em;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.vaccine-radio-group input:checked + label {
    background: #2962FF;
    color: #fff;
}

.vaccine-type--dropdownlist select{
  appearance: none;
  border: 0;
  padding: 1em;
  font-weight: bold;
  color: #2962FF;
  padding-right: 24px;
  background-color: #fff;
}

.vaccine-type--dropdownlist:after {
    color: #2962FF;
    content: "expand_more";
    position: absolute;
    width: 24px;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.lds-dual-ring {
  height: 72px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  border-radius: 50%;
  border: 4px solid #2962FF;
  border-color: #2962FF transparent #2962FF transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
